.idea

venv/
.chromadb/venv/
chromadb/venv/

.env/
__pycache__/
*.pyc

/chromadb_examples/.env
/chromadb_examples/db/chroma_db_openai_sample/
/chromadb_examples/db/chroma_db_sample/
/chromadb_examples/db/*


/db/chroma_db_bedrock_sample/chroma.sqlite3
/db/chroma_db_openai_sample/chroma.sqlite3
/db/

.env